body{
    background-color: #678abe;
}

.main{
    text-align: center;
    margin: auto;
    width: 450px;
    background-color: #bdb3b3;
    padding: 10px;
    border-radius: 10px;
}

.main h1:hover{
    transition: 0.5s;
    color: #678abe;
}

.main img{
    width: 250px;
    border-radius: 50%;
}

.main a{
    background-color: #6495ed;
    padding: 7px 25px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}
.main a:hover{
    transition: 0.5s;
    color: #90b5ec;
}

.main p{
    font-family: sans-serif
}